* {
  box-sizing: border-box;
}
:root {
  --main-red-color: #e42929;
  --grey-color: #484848;
  --black-color: #222222;
}

.grey-color {
  color: var(--grey-color);
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: var(--black-color);
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
